.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 00, 0.61)),
    url("/src/Images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero .h1 {
  padding: 5%;
  text-align: initial;
}
