.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 00, 0.61)),
    url("/src/Images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  min-height: 700px;
  padding: 5% 0;
  .h1,
  .h3 {
    text-align: initial;
  }

  .h1 {
    padding: 5% 0;
  }
  .h3 {
    width: 50%;
  }
  .info {
    display: flex;
    justify-content: space-between;
    p {
      text-align: left;
      padding: 5px 0;
    }
  }
}
