.products {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)),
    url(/src/Images/product-background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  height: fit-content;
  min-height: 700px;
  padding: 5% 0;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 5%;
    justify-content: center;
  }
}
