/*Mixins*/
/*hide menu when desktop mode*/
.menulist {
  display: none;
}

/*Media Queries*/
@media only screen and (max-width: 1110px) {
  /*Hamburger Menu*/
  .menubtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menubtn .menubtn-burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menubtn .menubtn-burger:before, .menubtn .menubtn-burger:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    left: 15px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .menubtn .menubtn-burger:before {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .menubtn .menubtn-burger:after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  /*Hamburger Menu Open/Close Animation*/
  .menubtn.show .menubtn-burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menubtn.show .menubtn-burger:before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .menubtn.show .menubtn-burger:after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  /*NavMenu*/
  /*Menu show*/
  .menulist.show {
    width: 100%;
    display: initial;
    /*Link Animations Show*/
  }
  .menulist.show a.aboutlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 125px;
    color: #fff;
    font-size: 24px;
    background-color: var(--light-gray);
    top: 100px;
    right: 0;
    -webkit-animation: slidein1 1s;
            animation: slidein1 1s;
  }
  .menulist.show a.aboutlink:hover {
    background-color: var(--dark-gray);
  }
  @-webkit-keyframes slidein1 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes slidein1 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  .menulist.show a.productlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 125px;
    color: #fff;
    font-size: 24px;
    background-color: var(--light-gray);
    top: 224px;
    right: 0;
    -webkit-animation: slidein2 2s;
            animation: slidein2 2s;
  }
  .menulist.show a.productlink:hover {
    background-color: var(--dark-gray);
  }
  @-webkit-keyframes slidein2 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes slidein2 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  .menulist.show a.contactlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 125px;
    color: #fff;
    font-size: 24px;
    background-color: var(--light-gray);
    top: 348px;
    right: 0;
    -webkit-animation: slidein3 3s;
            animation: slidein3 3s;
  }
  .menulist.show a.contactlink:hover {
    background-color: var(--dark-gray);
  }
  @-webkit-keyframes slidein3 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes slidein3 {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}

/* Menu hide*/
.menulist.hide {
  width: 100%;
  display: initial;
  /*Link Animations Hide*/
}

.menulist.hide a.aboutlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 125px;
  color: #fff;
  font-size: 24px;
  background-color: var(--light-gray);
  top: 100px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.menulist.hide a.aboutlink:hover {
  background-color: var(--dark-gray);
}

@-webkit-keyframes fade {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

.menulist.hide a.productlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 125px;
  color: #fff;
  font-size: 24px;
  background-color: var(--light-gray);
  top: 224px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fade2 2s;
          animation: fade2 2s;
}

.menulist.hide a.productlink:hover {
  background-color: var(--dark-gray);
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

.menulist.hide a.contactlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 125px;
  color: #fff;
  font-size: 24px;
  background-color: var(--light-gray);
  top: 348px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fade3 3s;
          animation: fade3 3s;
}

.menulist.hide a.contactlink:hover {
  background-color: var(--dark-gray);
}

@-webkit-keyframes fade3 {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=burger.css.map */